@media (min-width: 900px){
  body {
    letter-spacing: 1px;
    color: white
  }
  #test-container{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    z-index: 10;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
  }
  #user-data-container{
    display: grid;
    height: fit-content;
    grid-template-rows: 10px auto auto 10px;
    grid-template-columns: 30px auto 30px;
    background-color: black;
    box-shadow: 0 0 10px white;
    position: sticky;
    top: 50px;
    border-radius: 20px;
    min-width: fit-content;
  }
  #marks{
    grid-area: 2/2;
    display: flex;
    gap: 10px;
    font-size: 1.7em;
    justify-content: flex-end;
    align-items: center;
    color: rgb(250,250,250,0.5);
    margin-bottom: 10px;
  }
  #marks p{
    padding: 0;
    margin:0;
  }
  #closing-mark:hover, #dark-light:hover{
    cursor: pointer;
    color: white;
  }
  #user-data{
    grid-area: 3/2;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    align-content: center;
  }
  #user-data fieldset{
    padding: 0 30px;
    border-radius: 20px;
  }
  #user-data fieldset p{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  #user-data fieldset p label{
    font-size: 1.1em;
  }
  #user-data fieldset p input{
    padding: 2px 5px;
    border: solid white 1px;
    border-radius: 5px;
  }
  .button{
    color: black;
    text-decoration: double;
    background-color: white;
    border: solid 2px white;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: large;
    box-shadow: 0 0 5px white;
    margin-top: 10px;
    width: 40%;
  }
  .button:hover{
      cursor: pointer;
      border: 2px black solid; 
  }
  .button:active{
      color: white;
      background-color: black;
      cursor: pointer;
      border: 2px white solid;
      box-shadow: none; 
  }
  #user-data div{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  #question-form{
    display: grid;
    grid-template-rows: 10px auto 20px auto 10px;
    grid-template-columns: 30px auto 30px;
    height: fit-content;
    width: 600px;
    background-color: black;
    box-shadow: 0 0  10px white;
    position: sticky;
    top: 50px;
    border-radius: 20px;
  }
  #question{
    grid-area: 4/2;
  }
  #buttons{
    display: flex;
    justify-content: space-evenly;

  }
  .question-field {
    border-radius: 10px;
  }
  .question-field p {
    margin-left: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .question-field p:hover, label:hover{
    cursor: pointer;
  }
  .question-field p input {
    appearance: none;
    width: 1.6em;
    height: 1.6em;
    border-radius: 1.3em;
  }
  #ansA:before{content: "A";}
  #ansB:before{content: "B";}
  #ansC:before{content: "C";}
  #ansD:before{content: "D";}
  .question-field p input:before{
    font-size: 1.2em;
    position: relative;
    top: 1px;
    left: 4px;
  }
 .question-field p input:hover{
    background-color: white;
  }
  .question-field p input:checked{
    border: 2px solid green;
  }
  #progress-bar{
    grid-area: 3/2/3/2;
    height: 5px;
    background-color: black;
    box-shadow: 0 0 5px white;
  }
  #progress{
    height: 5px;
    background-color: green;
  }
  .congrats{
    position: relative;
    top:50px;
    border-radius: 20px;
    display: flex;
    width:600px;
    background: black;
    align-content: center;
    flex-flow: column wrap;
    height: fit-content;
    padding-bottom: 1.5em;
    align-items: flex-end;
    box-shadow: 0 0 10px white;
  }
  #finish-test{
    width: fit-content;
    position: relative;
  }
}
@media (max-width: 899px){
  body {
    letter-spacing: 1px;
    color: white;
  }
  #test-container{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: black;
    display: flex;
    justify-content: center;
  }
  #user-data-container{
    display: grid;
    grid-template-rows: 50px 80px auto 50px;
    grid-template-columns: 10px auto 10px;
    width: 100%;
    background-color: black;

  }
  #marks{
    grid-area: 2/2;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 1.7em;
    color: rgb(250,250,250,0.5);
  }
  #user-data{
    grid-area: 3/2;
    display: grid;
    justify-items: center;
    width: 100%;
    grid-template-rows: auto auto;
  }
  #user-data fieldset legend{
    display: none;
  }
  #user-data fieldset{
    grid-area: 1;
    padding: 0 0;
    border: none;
    width:100%;
    height: fit-content;
    align-items: center;
  }
  #user-data fieldset h2{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }
  #user-data fieldset p{
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-end;
    gap: 8px;
    margin: 0 0 15px 0;
  }
  #user-data fieldset p label{
    font-size: 1.1em;
  }
  #user-data fieldset p input{
    padding: 10px 5px;
    border: solid white 1px;
    border-radius: 5px;
    font-size: 1.2em;
  }
  .button{
    text-align: center;
    color: black;
    background-color: white;
    border: solid 2px white;
    border-radius: 10px;
    font-size: large;
    box-shadow: 2px 2px 5px white;
    padding: 10px 10px;
    font-weight: none;
  }
  .button:active{
      color: white;
      background-color: black;
      cursor: pointer;
      border: 2px white solid;
      box-shadow: none; 
  }
  #user-data div{
    grid-area: 2;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: flex-start;
  }
   #user-data div button{
    width: 100%;
  }
  #question-form{
    height: fit-content;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 50px auto 20px auto 50px;
  }
  #buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  #question {
    grid-area: 4/2;
  }
  .question-field {
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
  }
  .question-field legend{
    font-size: smaller;
  }
  .question-field p {
    font-size: larger;
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 8px;
  }
  .question-field p label {
    display: flex;
    border: 1px solid white;
    min-width: 90%;
    border-radius: 10px;
    justify-content: center;
    padding: 5px 0;
    text-align: center;
  }
  .question-field p input {
    appearance: none;
  }
 .question-field p input:checked + label{
    background-color: white;
    color: black;
  }
  #progress-bar{
    grid-area: 3/2;
    height: fit-content;
    background-color: black;
    box-shadow: 0 0 5px white;
  }
  #progress{
    height: 5px;
    background-color: antiquewhite;
  }
  .congrats h2{
    display: flex;
    justify-content: center;
  }

  .congrats{
    position: relative;
    top:50px;
    background: black;
    padding:0 0 1.5em 1.2em;
    height: fit-content;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
  }
  #finish-test{
    width: 50%;
  }
}