@media (min-width: 600px){
 
  #test-container{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
  }
  #progress-bar{
    z-index: 11;
    height: 10px;
    background-color: antiquewhite;
    position: relative;
    top: -20px;
    height: 5px;
    width: 600px;
  }
  #progress {
    height: inherit;
    background-color: rgb(30,255,0);
    width: 0;
  }
  #question-form {
    display: flex;
    z-index: 11;
    position: relative;
    top: 50px;
    height: 400px;
    width: 600px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
  }
  #question  {
    width: 100%;
    text-align: center;
  }
  #question-form form {
    display: block;
    padding: 1em 2em 1em 2em;
    width: fit-content;
    min-width: 30%;

  }
  #question-form fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;;
  }
  #question-form p {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  #question-form p input{
    min-width: 200px;
  }
  #question-form form button {
    position: relative;
    left: 250px;
    color: white;
    text-decoration: double;
    background-color: black;
    border: none;
    border-radius: 10px;
    margin-right: 1em;
    padding: 2px 10px;
    font-size: large;
    box-shadow: 2px 2px 5px black;
    margin-top: 10px;
}
#question-form form button:hover{
    cursor: pointer;
    border: 2px white solid; 
}
#question-form form button:active{
    color: black;
    background-color: white;
    cursor: pointer;
    border: 2px black solid;
    box-shadow: none; 
}
#question .question-field{
    text-align: left;
}

#question .question-field p {
  justify-content: flex-start;
  gap:20px;
}
#question .question-field p input {
  min-width: 10px;
  appearance: none;
  border-radius: 30%;
  width: 1em;
  height: 1em;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 0;
}
#question .question-field p input:hover
{
  background-color: black;
  border-color: white;
  box-shadow: 10px grey;
}
#question .question-field p input:checked{
  background-color: green;
  border-color: green;
} 
#question #next-question-submit, #question #clear{
    position: initial;
}

   
  }

