@media (min-width: 900px){
  body {
    letter-spacing: 1px;
  }
  #test-container{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
  }
  #user-data-container{
    height: fit-content;
    min-width: fit-content;
    background-color: white;
    box-shadow: 0 0  10px black;
    padding: 2% 5%;
    position: sticky;
    top: 50px;
    border-radius: 20px;
  }
  #marks{
    display: flex;
    gap: 10px;
    font-size: 1.7em;
    justify-content: flex-end;
    align-items: center;
    margin-right: -10px;
    color: rgb(0,0,0,0.5);
  }
  #closing-mark:hover, #dark-light:hover{
    cursor: pointer;
    color: black;
  }
  #user-data{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    align-content: center;
  }
  #user-data fieldset{
    padding: 0 30px;
    border-radius: 20px;
  }
  #user-data fieldset p{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  #user-data fieldset p label{
    font-size: 1.1em;
  }
  #user-data fieldset p input{
    padding: 2px 5px;
    border: solid black 1px;
    border-radius: 5px;
  }
  .button{
    color: white;
    text-decoration: double;
    background-color: black;
    border: solid 2px black;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: large;
    box-shadow: 2px 2px 5px black;
    margin: 5px 2px 0 0;
  }
  .button:hover{
      cursor: pointer;
      border: 2px white solid; 
  }
  .button:active{
      color: black;
      background-color: white;
      cursor: pointer;
      border: 2px black solid;
      box-shadow: none; 
  }
  #user-data div{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  #question-form{
    height: fit-content;
    width: 600px;
    background-color: white;
    box-shadow: 0 0  10px black;
    padding: 2% 5%;
    position: sticky;
    top: 50px;
    border-radius: 20px;
  }
  #buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
  .question-field {
    border-radius: 10px;
  }
  .question-field p {
    margin-left: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .question-field p:hover, label:hover{
    cursor: pointer;
  }
  .question-field p input {
    appearance: none;
    width: 1.6em;
    height: 1.6em;
    border-radius: 1.3em;
  }
  #ansA:before{content: "A";}
  #ansB:before{content: "B";}
  #ansC:before{content: "C";}
  #ansD:before{content: "D";}
  .question-field p input:before{
    font-size: 1.2em;
    position: relative;
    top: 1px;
    left: 4px;
  }
 .question-field p input:hover{
    background-color: aquamarine;
  }
  .question-field p input:checked{
    border: 2px solid green;
  }
  #progress-bar{
    position: relative;
    top: -30px;
    width: 600px;
    height: 5px;
    background-color: antiquewhite;
    box-shadow: 0 0 5px black;
  }
  #progress{
    height: 5px;
    background-color: green;
  }
  .congrats{
    position: relative;
    top:50px;
    border-radius: 20px;
    display: flex;
    width:600px;
    background: white;
    align-content: center;
    flex-flow: column wrap;
    height: fit-content;
    padding-bottom: 1.5em;
    align-items: flex-end;
    box-shadow: 0 0 10px black;
  }
  #finish-test{
    width: fit-content;
    position: relative;
  }
}
@media (max-width: 899px){
  body {
    letter-spacing: 1px;
  }
  #test-container{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  #user-data-container{
    display: flex;
    flex-flow: wrap column;
    width: 100%;
    background-color: white;

  }
  #marks{
    position: relative;
    top: 2%;
    right:5%;
    display: flex;
    gap: 10px;
    font-size: 1.7em;
    justify-content: flex-end;
    align-items: center;
    color: rgb(0,0,0,0.5);
  }
  #user-data{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    align-content: center;
    width: 100%;
    position: relative;
    top: 5%;
  }
  #user-data fieldset legend{
    display: none;
  }
  #user-data fieldset{
    padding: 0 0;
    border: none;
    width: 90%;
  }
  #user-data fieldset p{
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-end;
    gap: 2px;
  }
  #user-data fieldset p label{
    font-size: 1.1em;
  }
  #user-data fieldset p input{
    padding: 2px 5px;
    border: solid black 1px;
    border-radius: 5px;
    font-size: 1.2em;
  }
  .button{
    text-align: center;
    color: white;
    background-color: black;
    border: solid 2px black;
    border-radius: 10px;
    padding: 2px;
    font-size: large;
    box-shadow: 2px 2px 5px black;
    margin: 0.5em 0;
    width: 90%;
  }
   .button:active{
      color: black;
      background-color: white;
      cursor: pointer;
      border: 2px black solid;
      box-shadow: none; 
  }
  #user-data div{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  #question-form{
    height: fit-content;
    width: 100%;
    background-color: white;
    padding: 2% 5%;
    position: sticky;
    top: 50px;
    border-radius: 20px;
  }
  #buttons{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin: 2px 2px;
  }
  .question-field {
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
  }
  .question-field legend{
    font-size: smaller;
  }
  .question-field p {
    font-size: larger;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 8px;
  }
  .question-field p label {
    display: flex;
    border: 1px solid black;
    min-width: 90%;
    border-radius: 10px;
    text-justify: center;
    justify-content: center;
  }
  .question-field p input {
    appearance: none;
  }
 .question-field p input:checked + label{
    background-color: green;
    color: whitesmoke;
  }
  #progress-bar{
    position: relative;
    top: -30px;
    width: 100%;
    height: 5px;
    background-color: antiquewhite;
    box-shadow: 0 0 5px black;
  }
  #progress{
    height: 5px;
    background-color: green;
  }
  .congrats h2{
    display: flex;
    justify-content: center;
  }

  .congrats{
    position: relative;
    top:50px;
    background: white;
    padding:0 0 1.5em 1.2em;
    height: fit-content;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
  }
  #finish-test{
    width: 50%;
  }
}